torch
# 1.8.1+cu101
# pip install torch==1.8.1+cu101 -f https://download.pytorch.org/whl/torch_stable.html
# pip install torch==1.8.0+cu101 -f https://download.pytorch.org/whl/torch_stable.html
# pip install torch==1.7.1+cu101 -f https://download.pytorch.org/whl/torch_stable.html
# pip install torch==1.7.1+cu110 -f https://download.pytorch.org/whl/torch_stable.html
allennlp==0.9.0
# allennlp==0.9.0 for 1.8.1+cu101
# allennlp for 1.9.1+cu102
tqdm
tensorboardX
seqeval
sklearn
pytorch-crf
transformers[sentencepiece]
datasets
accelerate==0.4.0
deepspeed==0.4.0
# install apex
# git clone https://github.com/NVIDIA/apex
# cd apex
# pip install -v --disable-pip-version-check --no-cache-dir --global-option="--cpp_ext" --global-option="--cuda_ext" ./
optuna
onnx
onnxruntime
# parallelformers
